.menu {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.links-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.link {
    width: 20%;
    font-family: 'Noto Sans';
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.link:link{
    text-decoration: none;
    color: black;
}
.link:visited{
    text-decoration: none;
    color: black;
}
.link:hover{
    text-decoration: none;
    color: var(--main-very-pery);
}