
.navbar{
    width: 90%;
    height: 100px;
    /* background: #d9d9d9; */
    border-bottom: 1px solid var(--main-very-pery);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    /* margin: 20px; */
}

.side-navbar{
    width: 50%;
    height: 50px;
    /* background: #d9d900; */
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    /* justify-content: space-between; */
}

.logo-container img{
    font-weight: 500;
    cursor: pointer;
}

.links-container{
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.link a{
    text-decoration: none;
    color:darkslategray;
}

.link a:hover{
    text-decoration: none;
    color: var(--main-very-pery);
}

 
.search-wrapper {
    margin-right: 30px;
    width: 250px;
    height: 80%;
    display: flex;
    align-items: center;
}
.search-wrapper .input-holder {
    width:100%;
    height: 100%;
    border-radius: 50px;
    border-bottom: 1px solid var(--main-very-pery);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px;
    box-sizing: border-box;
}
.search-wrapper .input-holder .search-input {
    opacity: 1;
    width:80%;
    height: 100%;
    padding:0px 20px;
    background: transparent;
    box-sizing: border-box;
    border:none;
    outline:none;
    font-family:"Open Sans", Arial, Verdana;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    /* color:#FFF; */
}
.search-wrapper .input-holder .search-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    content: '';
    background-color: #FFF;
}
.search-wrapper .input-holder .search-icon img {
    width:90%;
    height:90%;
    display: inline-block;
}

.logout-modal{
    width: 300px;
    height: 180px;
    background-color: white;
    border: 2px solid var(--main-very-pery);
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.logout-modal p{
    font-family: 'Noto Sans';
    font-size: 15px;
    font-weight: 700;   
}

.logout-ok-btn{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--main-very-pery);
    background-color: var(--main-very-pery);
    color: white;
}
