.layout {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-title{
    width: 85%;
    height: 50px;
    padding: 10px;
    font-family: 'Noto Sans';
    font-size: 20px;
    font-weight: 700;
    color: var(--main-very-pery);
    text-align: start;
}

.page-title-bw{
    width: 85%;
    height: 30px;
    padding: 10px;
    font-family: 'Noto Sans';
    font-size: 13px;
    font-weight: 700;
    color: black;
    text-align: start;
}

.board-div{
    width: 85%;
}

.sentence-write-title{
    width: 100%;
}

.board-list-table{
    width:100%;
    border-collapse: collapse;
    border-radius: 10px;
}

.board-list-head{
    height: 45px;
    background-color: var(--main-very-pery);
    border-radius: 10px;
    font-family: 'Noto Sans';
    font-size: 15px;
    font-weight: 700;
    color: white;
}

.board-list-component{
    height: 45px;
    font-family: 'Noto Sans';
    font-size: 13px;
    font-weight: 500;
}

tr:first-child th:first-child {
    border-top-left-radius: 6px;
}
tr:first-child th:last-child {
    border-top-right-radius: 6px;
}
tr:nth-child(even) td {
    background: #eaeaed;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

.board-detail-box{
    background-color: #f3f3f3;
    border: transparent;
    border-radius: 15px;
    width: 85%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.board-info-box-a{
    display: flex;
    box-sizing: border-box;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.board-title{
    text-align: start;
    box-sizing: border-box;
    height: 100%;
    padding: 20px 0px 10px 20px;
    width: 70%;
    font-family: 'Noto Sans';
    font-size: 14px;
    font-weight: 700;
    color: black;
}

.board-hits{
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 20px 10px 0px;
    font-family: 'Noto Sans';
    font-size: 13px;
    font-weight: 300;
    color: black;
    text-align: end;
}
.board-info-box-b{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.board-info-txt{
    font-family: 'Noto Sans';
    font-size: 10px;
    font-weight: 300;
    color: black;
}

.board-writer{
    width: 100px;
    font-family: 'Noto Sans';
    font-size: 10px;
    font-weight: 400;
    color: black;
    text-align: start;
    box-sizing: border-box;
    padding-left: 20px;
}

.board-info-detail-box{
    width: 100%;
    height: 15px;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20px;
}

.board-info-rec{
    display: flex;
    flex-direction: row;
    width: 45px;
    justify-content: end;
}
.board-info-reply{
    display: flex;
    flex-direction: row;
    width: 45px;
    justify-content: end;
}

.board-division-line{
    background-color: antiquewhite;
    border-top: 1px solid var(--main-very-pery);
    margin: 5px 5px;
}

.board-contents{
    width: 100%;
    height: 350px;
    box-sizing: border-box;
    padding: 10px;
    text-align: start;
    font-family: 'Noto Sans';
    font-size: 12px;
    font-weight: 500;
    color: black;
}

.board-rec-btn-box{
    height: 50px;
    box-sizing: border-box;
    padding:5px;
}

.board-btn-box{
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
}

.board-btn-box button{
    width: 50px;
    height: 20px;
    background-color: var(--main-very-pery);
    font-family: 'Noto Sans';
    font-size: 12px;
    font-weight: 500;
    color: whitesmoke;
    border: transparent;
    border-radius: 10px;
    margin: 0px 5px;
}

.card-like{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 100%;
    justify-content: space-between;
}
.card-like button{
    display: flex;
    background-color: transparent;
    border: transparent;
    align-items: center;
    justify-content: center;
    height: 80%;
}
.card-like-txt{
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}
.card-content{
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    font-weight: 500;
    font-size: 12.5px;
    margin: 5px 0px;
}

.card-info-b{
    width: 95%;
    height: 20px;
    text-align: start;
    border-top: 1px solid #fff;
    font-family: 'Noto Sans';
    color: var(--main-very-pery);
    font-weight: 600;
    font-size:11px;
    padding: 5px 0px;
    box-sizing: border-box;
}


.sentence-write-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sentence-write-info{
    width: 90%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid var(--main-very-pery);
    border-radius: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.sentence-write-info-input{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Noto Sans';
    color:var(--main-very-pery);
    font-size: 13px;
    font-weight: 600;
    padding: 2px 0px;
}

.sentence-write-info-input input{
    width: 70%;
    height: 25px;
    font-family: 'Noto Sans';
    font-size: 10px;
    font-weight: 500;
    margin-left: 10px;
    border: 1px solid var(--main-very-pery);
    border-radius: 15px;
    padding: 3px;
    box-sizing: border-box;
}

.sentence-write-contents{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.sentence-write-contents textarea{
    width: 100%;
    padding: 10px;
    height: 400px;
    resize: none;
    border: 2px solid var(--main-very-pery);
    outline-color: var(--main-very-pery);
    border-radius: 10px;
    font-family: 'Noto Sans';
    font-size: 12px;
    font-weight: 300;
    color: black;
    box-sizing: border-box;
}

.sentence-write-contents-limit{
    width: 100%;
    font-family: 'Noto Sans';
    font-size: 13px;
    font-weight: 300;
    text-align: end;
    color: grey;
}

.sentence-write-btn-box{
    width: 70%;
    height: 60px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btn-to-list, .btn-to-post{
    width: 60px;
    height: 30px;
    margin: 5px;
    background-color: var(--main-very-pery);
    border-radius: 15px;
    border: transparent;
    font-family: 'Noto Sans';
    font-size: 13px;
    font-weight: 500;
    color: whitesmoke;
}

.modalBox{
    width: 400px;
    height: 150px;
    background-color: white;
    border: 2px solid var(--main-very-pery);
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Noto Sans';
    font-size: 15px;
    font-weight: 700;  
}

.modalBox button {
    width: 100px;
    background-color: var(--main-very-pery);
    text-align: center;
    color: azure;
    border-color: transparent;
}